<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">New Track</h1>
        <div class="col-6 offset-3">
            <form action="/tracks" method="post" novalidate class="validated-form">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="track[title]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="artist">Artist</label>
                    <input class="form-control" type="text" id="artist" name="track[artist]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="image">Image URL</label>
                    <input class="form-control" type="text" id="image" name="track[image]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <div class="form-label" for="length">Track Length (Seconds)</div>
                    <div class="input-group">
                        <input type="text" id="length" class="form-control" placeholder="0" aria-label="length"
                            aria-describedby="length-label" name="track[length]" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="track[description]"
                        required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Add Track</button>
                </div>
            </form>
            <a href="/tracks">All Tracks</a>
        </div>
    </div>